{% if etckeeper_with_cow %}
#  --------------------
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||
{% else %}
# {{ ansible_managed }}
{% endif %}

[epel]
name=Extra Packages for Enterprise Linux - $basearch
baseurl={{ etckeeper_epel_baseurl }}/{{ etckeeper_epel_version }}/$basearch
mirrorlist={{ etckeeper_epel_mirrorurl }}?repo=epel-{{ etckeeper_epel_version }}&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-{{ etckeeper_epel_version }}

{% if etckeeper_epel_enable_debug %}
[epel-debug]
name=Extra Packages for Enterprise Linux - $basearch - Debug
baseurl={{ etckeeper_epel_baseurl }}/{{ etckeeper_epel_version }}/$basearch/debug
mirrorlist={{ etckeeper_epel_mirrorurl }}?repo=epel-debug-{{ etckeeper_epel_version }}&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-{{ etckeeper_epel_version }}
{% endif %}

{% if etckeeper_epel_enable_source %}
[epel-source]
name=Extra Packages for Enterprise Linux - Source
baseurl={{ etckeeper_epel_baseurl }}/{{ etckeeper_epel_version }}/SRPMS
mirrorlist={{ etckeeper_epel_mirrorurl }}?repo=epel-source-{{ etckeeper_epel_version }}&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-{{ etckeeper_epel_version }}
{% endif %}
